.boundaryError {
  background-color: #3f1a3396;
  border: 12px solid #3f1a3352;
  width: 100%;
  flex: 1;
  margin: 10px;
}

.boundaryError h1 {
  padding: 15% 5%;
  font-size: 16px;
  text-orientation: sideways;
  writing-mode: horizontal-tb;
}

@media all and (min-width: 600px) {
  .boundaryError h1 {
    padding-top: 15%;
    font-size: 16px;
  }
}
