header {
    background-color: #203636;
    color: white;
    padding: 0;
    letter-spacing: 5px;
}

h1 {
    padding: 15px 15px;
    font-size: 55px;
    text-orientation: upright; 
    writing-mode: vertical-lr;
}

@media all and (min-width:600px) {
    header {
        padding: 5px;
        padding-top: 20px;
    }
    h1 {
        padding: 30px 45px;
        font-size: 55px;
    }
}